#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.jpg
*.exe.config
*.ncb
*.suo
*.bak
*.cache
*.ilk
*.log
*candidatesWithHashes3.json
*.cachefile
*.txt
*.resources
*.userprefs
*.bmp
*.vsp
*.dds
*.exe
*.fbx
*.testsettings
*.png
*.psess
*.vsmdi
*.sbr
*responseData
TestProject3*/
*.exe
*.application
*.xnb
*.exe.manifest
Packaged*/
*.pdb
*.pfx
*.XML
*.dll
*.CodeAnalysisLog.xml
*.lastcodeanalysissucceeded
*auth.json
*config.json
obj*/
bin*/
Debug*/
TestProject*/
[Rr]elease*/
_ReSharper*/
*wordRanking.json
*recordingBlacklist.json
*mentionBlacklist.json
*githubAnnounceHistory.json
